<app-auth-content>
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">
              การฝึกประสบกาณ์วิชาชีพ
            </h3>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-header bolder">
            เพิ่มข้อมูลวิจัยในชั้นเรียน
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-group">
                  <label>วันที่ฝึกสอน :</label>
                  <input type="text" formControlName="date" placeholder="วันที่ฝึกสอน*" class="form-control" bsDatepicker>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>รายวิชา :</label>
                      <input formControlName="course" type="text" placeholder="รายวิชา*" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>เรื่องที่สอน :</label>
                      <input formControlName="title" type="text" placeholder="เรื่องที่สอน*" class="form-control" min="1">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>รายละเอียด :</label>
                  <div formControlName="detail" [froalaEditor] [(froalaModel)]="editorContent"></div>
                </div>
            </form>
        </div> 
        <div class="card-footer">
            <button class="btn btn-primary" (click)="onSubmit()">
                เพิ่มข้อมูล
            </button>
        </div>
    </div>

    <!-- table -->
    <div class="card animate__animated animate__slideInDown">
        <!-- member data -->
        <div class="card-body">
          <div class="table-responsive table-hover">
            <table class="table">
              <thead class="thead-dark text-center">
                <tr>
                  <th scope="col">วันที่</th>
                  <th scope="col">วิชาที่สอน</th>
                  <th scope="col">เรื่องที่สอน</th>
                  <th scope="col">&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of items;">
                  <td class="text-center" scope="row" style="vertical-align: middle;">
                    {{ data.date | date:'dd/MMMM/yyyy (HH:MM a)'}}
                  <td style="vertical-align: middle;">
                    {{data.course}}
                  </td>
                  <td style="vertical-align: middle;">
                    <span class="text-primary">(เรื่อง {{data.title}})</span>
                  </td>
                  <td class="text-center" style="vertical-align: middle;">
                    <button placement="bottom" (click)="onView(data._id)"  tooltip="ดูข้อมูล" class="btn text-center mx-3" style="background-color: #5E81AC;color:white;padding:6px 4px 6px 8px;"><i class="fa fa-eye"></i></button>
                    <button placement="bottom" (click)="onDelete(data._id)"  tooltip="ลบข้อมูล" class="btn text-center" style="background-color: #ebcb8b;color:white;padding:6px 4px 6px 8px;"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- pagination -->
        <div class="card-footer">
          <p class="text-bold text-right">
            จำนวนทั้งสิ้น {{ total_items }}
          </p>
        </div>
    </div>

    <div class="card my-3">
      <div class="card-body">
        <div [froalaView]="editorContent"></div>
        
        <ng-signature-pad
        doneButtonText="Show Image"
        format="base64"
        (done)="showImage($event)">
        </ng-signature-pad>


        <img [src]="signatureImage" *ngIf="signatureImage" />
      </div> 
    </div>
</app-auth-content>