<app-auth-content>
  <div class="card">
    <div class="card-header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item pointer text-primary">สังเกตการสอน</li>
          <li class="breadcrumb-item active" aria-current="page">{{ fullname }}</li>
        </ol>
      </nav>
      <h3 class="mb-2">
        สังเกตการสอน
      </h3>
    </div>
  </div>

  <div class="card my-2">
    <div class="card-body">
      {{ total_hour }} / 100 % (12 ชั่วโมง)
    <progressbar class="progress-striped active" [striped]="true"  [value]="total_hour" [max]="100" [animate]="true"><i></i></progressbar>
    </div>
  </div>

  <!-- table -->
  <div class="card my-3 animate__animated animate__slideInDown">
    <div class="card-header">
      <button
        class="btn btn-primary"
        style="float: right;"
        [routerLink]="['/', AppURL.Authen, AuthURL.ObserveCreate]"
      >
        เพิ่มข้อมูล
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive table-hover">
        <table class="table">
          <thead class="thead-dark text-center">
            <tr>
              <th scope="col">#</th>
              <th scope="col">รายวิชา</th>
              <th scope="col">จำนวน (ชม.)</th>
              <th scope="col">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of items;">
              <td scope="row" style="vertical-align: middle;">
                {{ data.observe_date | date:'dd/MMMM/yyyy (HH:MM a)'}}
              </td>
              <td style="vertical-align: middle;">
                {{ data.subject }} 
                <span class="text-primary">(เรื่อง {{ data.title }})</span>
              </td>
              <td style="vertical-align: middle;" class="text-right">
                {{ data.hour }}
              </td>
              <td class="text-center" style="vertical-align: middle;">
                <button
                  placement="bottom"
                  tooltip="ดูข้อมูล"
                  class="btn text-center"
                  style="
                    background-color: #5e81ac;
                    color: white;
                    padding: 6px 4px 6px 8px;
                  "
                >
                  <i class="fa fa-eye"></i>
                </button>
                <button
                  placement="bottom"
                  tooltip="แก้ไขข้อมูล"
                  class="btn mx-3 text-center"
                  style="
                    background-color: #88c0d0;
                    color: white;
                    padding: 6px 4px 6px 8px;
                  "
                >
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                  placement="bottom"
                  tooltip="ลบข้อมูล"
                  class="btn text-center"
                  (click)="onDelete(data._id)"
                  style="
                    background-color: #ebcb8b;
                    color: white;
                    padding: 6px 4px 6px 8px;
                  "
                >
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- pagination -->
    <div class="card-footer">
      <p class="text-bold text-right">
        จำนวนทั้งสิ้น {{ total_items }}
      </p>
    </div>
  </div>
</app-auth-content>
