.card-band-pink{
    border-top:5px solid salmon;
}

.card-band-sienna{
    border-top:5px solid sienna;
}

.card-band-green{
    border-top:5px solid goldenrod;
}

.form-control{
    border-radius: 0px;
    border-top:0px;
    border-left:0px;
    border-right: 0px;
}
