<app-auth-content>
    <div class="card animate__animated animate__slideInDown">
        <div class="card-header">
            <h3 class="mb-0">
                ประชุมแผนการสอน
            </h3>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-header bolder">
            เพิ่มข้อมูลประชุมแผนการสอน
        </div>
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-group">
                  <label>วันที่ประชุม :</label>
                  <input formControlName="date" type="text" placeholder="วันที่ประชุม*" class="form-control" bsDatepicker>
                </div>
                <div class="form-group">
                  <label>รายละเอียด :</label>
                  <div formControlName="message" [froalaEditor] [(froalaModel)]="editorContent"></div>
                </div>
            </form>
        </div> 
        <div class="card-footer">
            <button class="btn btn-primary" (click)="onSubmit()">
                เพิ่มข้อมูล
            </button>
        </div>
    </div>

    <div *ngFor="let data of items" class="card my-3">
        <div class="card-header" style="vertical-align: middle;">
          <h5 >
            {{ data.date | date:'dd-MMMM-yyyy (HH:MM a)' }}
            <button placement="bottom" (click)="onDelete(data._id)"  tooltip="ลบข้อมูล" class="btn text-center" style="float:right;background-color: #ebcb8b;color:white;padding:6px 4px 6px 8px;"><i class="fa fa-trash"></i></button>
          </h5>
        </div>
        <div class="card-body" [innerHTML]="data.message">
        </div>
      </div>
</app-auth-content>