<app-auth-content>
    <div class="app-title">
      <div>
        <h1>
          <i class="fa fa-dashboard"></i> Dashboard</h1>
        <p>A free and modular admin template</p>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
          <i class="fa fa-home fa-lg"></i>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
      </ul>
    </div>
  
    <!-- break -->
  
    <div class="row">
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">ขั้นตอนการใช้งาน</h3>
          <ol>
            <li>จัดการข้อมูลส่วนตัว
              <ul>
                <li>กรอกแก้ไขข้อมูลส่วนตัว</li>
                <li>กรอกข้อมูลสถานศึกษาที่สังเกตการสอน</li>
                <li>สถานศึกษาที่ทำการฝึกสอน</li>
                <li>ข้อูมูลครูอาจาร์ยที่นักศึกษาทำการติดต่อ</li>
              </ul>
            </li>
            <li>การสังเกตการสอน
              <ul>
                <li>เพิ่มข้อมูลการสังเกตการสอน (รายวิชาที่สังเกต เรื่องที่สอน ระดับชั้น จำนวน ชม. ฯลฯ)</li>
                <span style="color: red;">**นักศึกษาจำเป็นจะต้องสังเกตการสอนเป็นเวลาขั้นต่ำ 12 ชม.</span>
                <li>ให้ครูผู้สอนทำการยืนยันกับระบบในการสังเกตการสอน</li>
              </ul>
            </li>
            <li>การฝึกประสบการณ์วิชาชีพครู
              <ul>
                <li>เพิ่มไฟล์ตารางสอนในภาคการศึกษานั้น (ในเมนู จัดการข้อมูลส่วนตัว -> เพิ่มข้อมูลตารางสอน)</li>
                <li>เพิ่มข้อมูลการฝึกสอนโดยระบุ วันที่สอน วิชา เรื่องที่สอน ฯลฯ</li>
                <li>แนบลิงก์ การสอน live สดจาก youtube <i class="fa fa-youtube-square"></i></li>
              </ul>
            </li>
            <li>การทำวิจัยในชั้นเรียน
              <ul>
                <li>
                  เพิ่มไฟล์ <u>วิจัยในชั้นเรียน</u> และหัวข้องานวิจัยในแต่ละบท
                </li>
                <span style="color: red;">**ในระหว่างฝึกประสบการณ์วิชาชีพครูนักศึกษาจะต้องจัดทำวิจัยในชั้นเรียนจำนวน 5
                  บท</span>
                <li>(โดย วิจัยในชั้นเรียน จะผ่านการตรวจโดย อาจารย์ หรือผู้ดูแลระบบ เท่านั้น)</li>
              </ul>
            </li>
            <li>
              การทำงานของระบบส่วนอื่น ๆ
              <ul>
                <li>ส่วนจัดการสมาชิก</li>
                <li>ส่วนไฟล์ทั้งหมดในระบบ</li>
                <li>ส่วนประเมินผลการสอน</li>
                <li>ส่วน Comment</li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-md-6">
        <div class="tile">
          <h3 class="tile-title">Features</h3>
          <p style="text-indent: 30px;">เว็บไซต์นี้พัฒนาขึ้นด้วย Angular Framework มีลักษณะแบ่งส่วนหน้าเว็บต่าง ๆ
            เป็นโมดูลจึงง่ายต่อการพัฒนาร่วมกัน ระหว่างนักพัฒนา Front-end และ Back-end </p>
          <p style="text-indent: 30px;">อีกทั้งเว็บไซต์นี้ยังใช้รูปแบบสถาปัตยกรรม <b
              style="color:#20c997;">Respresentational state transfer Application Program Interface</b> หรือ <b
              style="color: #20c997;">REST API</b> ที่ใช้ประโยชน์จากเทคโนโลยี Web protocol เพื่อใช้งานในการสร้าง Web
            Service ซึ่งทำให้ระบบประกอบไปด้วย
          </p>
        </div>
      </div>
    </div>
  </app-auth-content>
  