<app-auth-content>
    <div class="card mb-3 animate__animated animate__slideInDown">
        <div class="card-body px-3 py-2 mb-0">
            <nav *ngIf="_id" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item text-primary pointer" [routerLink]="['/',AppURL.Authen,AuthURL.Member]">จัดการสมาชิก</li>
                  <li class="breadcrumb-item active" aria-current="page">{{ firstname }} {{ lastname }}</li>
                </ol>
            </nav>
            <h3 class="mb-0">
                {{ title }}
            </h3>
        </div>
    </div>

    <div class="card mb-3 animate__animated animate__slideInDown">
        <!-- card-head -->
        <div class="card-header" style="vertical-align: middle;">
            ข้อมูลนักศึกษา
            <span style="float:right" class="badge badge-pill badge-success">สาขา : {{ classroom }}</span>
            <span style="float:right" class="badge badge-pill badge-secondary mx-2">สิทธิ์การใช้งาน : {{ role }}</span>
        </div>
        <!-- card-body -->
        <div class="card-body px-3 py-4 mb-0">
            <form [formGroup]="form">
                <div class="row">
                        <!-- ส่วนรูปภาพ -->
                        <div class="col-md-3">
                            <!-- <img src="assets/images/images.png"  class="img-fluid img-thumbnail"> -->
                            <img [src]="image" class="img-fluid img-thumbnail" alt="">
                        </div>
                        <!-- ส่วนฟิล์ดข้อความ -->
                        <div class="col-md-9">
                            <div class="form-group">
                                <input formControlName="email" placeholder="อีเมลล์" class="form-control">
                            </div>
                            <div *ngIf="!_id" class="form-group">
                                <input formControlName="password" placeholder="รหัสผ่าน" class="form-control">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input formControlName="firstname" placeholder="ชื่อจริง" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input formControlName="lastname"  placeholder="นามสกุล" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group" style="margin:0px;padding:0px;">
                                <input class="form-control" type="text" formControlName="year" [typeaheadMinLength]="0"  [(ngModel)]="selected" [typeahead]="states" [adaptivePosition]="true" placeholder="ปีการศึกษา">
                            </div>
                            
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <p class="text-muted mb-0">ระบุสาขาวิชา</p>
                                    <div class="btn-group"  style="margin:0px;padding:0px;">
                                        <label class="btn btn-primary px-3 p-1 m-0" formControlName="classroom" [(ngModel)]="classroom"
                                                btnRadio="CED" tabindex="0"  role="button">CED</label>
                                        <label class="btn btn-primary px-3 p-1 m-0" formControlName="classroom" [(ngModel)]="classroom" 
                                                btnRadio="TCT" tabindex="0" role="button">TCT</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </form>
        </div>

        <!-- card footer -->
        <div class="card-footer">
            <button *ngIf="!_id" class="btn btn-primary" (click)="onSubmit()">
                <i class="fa fa-save"></i> เพิ่มข้อมูลสมาชิก
            </button>
            <button *ngIf="_id" class="btn btn-primary" (click)="onUpdate()">
                <i class="fa fa-save"></i> แก้ไขข้อมูลสมาชิก
            </button>
        </div>
    </div>
</app-auth-content>